*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.skeletonContainer {
  height: 200px;
  width: 500px;
  background-color: #ffffff;
}

.thumbnail {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 50%;
}

.skeletonContainer div {
  background: linear-gradient(
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
